.ReAuth.cfg
config/*
coremods
crash-reports
icon.png
knownkeys.txt
logs
mods
options.txt
resourcepacks
resources
saves
schematics
screenshots
server-resource-packs
shaderpacks
texturepacks
usercache.json
usernamecache.json
vintagefix
crafttweaker.log
/config/tool_progression/tools.cfg
/config/tool_progression/materials.cfg
/config/tool_progression/blocks.cfg
/hei_bookmarks.ini
patchouli_data.json

!/config/Universal Tweaks - Tweaks.cfg
!/config/quark.cfg
!/config/rftgumod
!/config/tool_progression
!/config/unidict
!/config/forestry
!/config/railcraft