.ReAuth.cfg
config/*
coremods
crash-reports
icon.png
knownkeys.txt
logs
mods
options.txt
resourcepacks
resources
saves
schematics
screenshots
server-resource-packs
shaderpacks
texturepacks
usercache.json
usernamecache.json
vintagefix
crafttweaker.log

!/config/Universal Tweaks - Tweaks.cfg
!/config/quark.cfg
!/config/rftgumod
